index.json
[{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/","title":"Worklog","tags":[],"description":"","content":" Week 1: Familiarized with core AWS services (S3, IAM, EC2) and set up development environment.\nWeek 2: Explored networking, storage patterns, security basics; experimented with S3 hosting and Cognito.\nWeek 3: Diving into development tools, authentication, and serverless computing\nWeek 4: Adopted development tooling (CLI, GitLab), started Serverless Framework and initial MVP components.\nWeek 5: Implemented core frontend flows and backend handlers; added unit tests and basic CI checks.\nWeek 6: Applied serverless patterns (Lambda, API Gateway), introduced DynamoDB for persistence.\nWeek 7: Iterated architecture, prepared hackathon proposal (Digital Charity with Blockchain \u0026amp; AI), and prototyped features.\nWeek 8: Conducted Well-Architected reviews, strengthened security posture and perimeter controls.\nWeek 9: Built GitLab CI pipelines, automated deployments, and added basic monitoring (CloudWatch).\nWeek 10: Designed flexible environment for switching between dev (local) and production (AWS) stages.\nWeek 11: Integrate all modules of the AWS Event Management Platform, optimize the serverless architecture, perform system testing, and complete the technical documentation.\nWeek 12: Final system testing, project documentation, AWS architecture review, presentation preparation, and final project submission.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.1-week1/","title":"Week 1 Worklog","tags":[],"description":"","content":" Week 1 Objectives: Connect and get acquainted with members of First Cloud Journey. Understand basic AWS services, how to use the console \u0026amp; CLI. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 2 - Get acquainted with FCJ members - Read and take note of internship unit rules and regulations 17/04/2026 17/04/2026 3 - Learn about Cloud Computing - Learn about DevOps Engineering - Read docs about CI/CD 18/04/2026 18/04/2026 4 - Learn about AWS and its types of services + Compute + Storage + Networking + Authentication + Server + \u0026hellip; 19/04/2026 19/04/2026 https://cloudjourney.awsstudygroup.com/ 5 - Create AWS Free Tier account - Learn about AWS Console \u0026amp; AWS CLI - Complete 5 tasks to claim 200 AWS Free tier credits\n- Practice: + Create AWS account + Install \u0026amp; configure AWS CLI + How to use AWS CLI 20/04/2026 20/04/2026 https://000001.awsstudygroup.com/ 6 - Explore basic EC2: + Instance types + AMI + Key pair + Security Group - AWS Infrastructure overview - Learn about Elastic IP 21/04/2026 21/04/2026 https://aws.amazon.com/ec2/ Week 1 Achievements: Connected with FCJ members and noted internship rules.\nGained basic understanding of Cloud Computing.\nLearned fundamentals of DevOps Engineering.\nExplored CI/CD concepts through documentation.\nUnderstood AWS basics and core services:\nCompute Storage Networking Authentication Server Created and configured AWS Free Tier account.\nFamiliarized with AWS Management Console for service access.\nInstalled and configured AWS CLI, including:\nAccess Key Secret Key Default Region Used AWS CLI for basic operations:\nCheck account info List regions View EC2 Manage key pairs Check running services Completed 5 tasks to claim 200 Free Tier credits.\nLearned EC2 basics:\nInstance types AMI Key pair Security Group Explored AWS infrastructure overview.\nUnderstood Elastic IP usage.\nAcquired skills to manage resources via Console and CLI in parallel.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/3-blogstranslated/3.1-blog1/","title":"Blog 1","tags":[],"description":"","content":"AWS SECURITY \u0026amp; S3 – Amazon S3 to Disable SSE-C by Default in April 2026: What Developers and DevOps Need to Know CORE CHANGES AND REASONS FROM AWS While SSE-C gives businesses full control over encryption keys, it places 100% of the key management responsibility on the application side. If a key is lost or sent incorrectly, data cannot be decrypted.\nAccording to AWS, starting in April 2026:\nDisabled on New Buckets: New General Purpose Buckets will not support SSE-C by default.\nApplied to Unused Accounts: For AWS Accounts that have never stored data encrypted using SSE-C, existing buckets will also have this feature disabled.\nHTTP 403 Access Denied Error: If an application still sends a PutObject request with SSE-C headers (x-amz-server-side-encryption-customer-algorithm, x-amz-server-side-encryption-customer-key, x-amz-server-side-encryption-customer-key-MD5) without reconfiguring the bucket, Amazon S3 will block and return an error immediately.\nThis change aims to reduce misconfiguration risks for new users while encouraging systems to migrate to more secure, centralized key management solutions like SSE-KMS.\nOPERATIONAL TECHNIQUES AND ACTION PLAN FOR DEVELOPERS / DEVOPS To avoid service disruption risks for systems such as backup pipelines, document uploads, file-sharing services, or data lakes using older SDKs, teams need to proactively take the following steps:\nManual Activation if SSE-C is Required: Administrators must proactively re-enable SSE-C via APIs or update Infrastructure as Code (IaC) scripts like AWS CloudFormation, Terraform, AWS CDK, or AWS CLI before deployment.\nSystem-Wide Audit: Review all S3 buckets and check application source code or SDKs to see if they are sending Customer-Provided Keys.\nMigration Roadmap to SSE-S3 or SSE-KMS:\nUse SSE-S3 for the simplest solution with no extra cost, enabled by default for most applications.\nUse SSE-KMS for Production environments requiring high security, IAM permission controls, CloudTrail access logging, automatic key rotation, and compliance standards like PCI DSS, HIPAA, and ISO 27001.\nCONCLUSION This change is vital for systems currently using SSE-C. Reviewing configurations, updating Infrastructure as Code, and considering a transition to SSE-KMS will keep systems stable and minimize service disruption risks when AWS officially enforces the new policy.\nReference Source: https://aws.amazon.com/blogs/storage/advanced-notice-amazon-s3-to-disable-the-use-of-sse-c-encryption-by-default-for-all-new-buckets-and-select-existing-buckets-in-april-2026/\n#AWS #AmazonS3 #CloudSecurity #SSEKMS #SSEC #DevOps #CloudComputing #AWSStorage\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/3-blogstranslated/3.2-blog2/","title":"Blog 2","tags":[],"description":"","content":"AWS BACKUP – Item-Level Recovery for Amazon EBS and Amazon S3 WHAT IS ITEM-LEVEL RECOVERY AND REAL-WORLD USE CASES Item-Level Recovery (ILR) allows you to restore individual files or objects instead of an entire backup, eliminating the need to restore a multi-terabyte EBS volume just to retrieve a single file.\nKey use cases include:\nRecovering Accidental Deletions: Quickly restore accidentally deleted configuration files or documents on EC2 volumes in minutes.\nAudit and Incident Investigation: Easily retrieve old PDFs, Excel reports, video footage, or CSV files without mounting snapshots or restoring entire volumes.\nShortening Recovery Time Objective (RTO): Reduce production system downtime from hours to minutes when data loss occurs.\nOPERATIONAL MECHANISM AND PREPARATION STEPS FOR DEVOPS / OPERATIONS AWS Backup uses Backup Indexing to index file metadata during the backup process, avoiding the need to scan entire snapshots.\nKey steps and considerations:\nEnable Backup Indexing: A prerequisite when creating Backup Plans or running On-Demand Backups so AWS can index data.\nUse Tags Consistently: Apply consistent tags across EC2 instances, EBS volumes, and Backup Vaults to simplify management and searching.\nUse AWS Backup Search: Directly query files by name, path, format, timeframe, or metadata to perform Item-Level Restores.\nOptimize Operations: Combine proper Backup Plans, periodic restore testing, and AWS Backup Vault Lock to enhance ransomware protection.\nCONCLUSION AWS Backup Search and Item-Level Recovery significantly reduce RTO and operational costs by allowing DevOps and Cloud Operations teams to find and restore precise files quickly instead of full snapshots.\nReference Source: https://aws.amazon.com/blogs/storage/enable-item-level-search-and-recovery-for-amazon-ec2-with-aws-backup/\n#AWS #AWSBackup #AmazonEBS #AmazonS3 #DisasterRecovery #DataProtection #DevOps #CloudComputing\nThis approach streamlines operations, ensures data privacy, and provides the flexibility to adapt to evolving business requirements. The result is a seamless, customized solution that optimizes costs and maintains regulatory compliance, all within a single, scalable platform.\nLearn more New to Amazon Connect? You can navigate to our Getting started with Amazon Connect User Guide. Eager to hear more about the latest Amazon Connect capabilities? Watch on-demand webinars, how-to, and demos in our Amazon Connect Enablement YouTube channel. Curious to try our Amazon Connect hands-on Workshops? Navigate the Amazon Connect Workshops we curated for you. Curious about upcoming Amazon Connect events? Check out the Customer Experience Workshops \u0026amp; Events and register for an upcoming event. "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/3-blogstranslated/3.3-blog3/","title":"Blog 3","tags":[],"description":"","content":"AWS COST OPTIMIZATION – Migrating Amazon EBS Volumes from gp2 to gp3 ARCHITECTURE AND PERFORMANCE COMPARISON: gp2 VS gp3 The core difference between the two disk generations lies in their performance provisioning mechanism:\ngp2 (Performance Tied to Capacity): Disk performance is strictly locked to storage capacity (3 IOPS/GB). If an application requires more IOPS, you are forced to increase the volume capacity (e.g., to get 3,000 IOPS, the disk must be at least 1,000 GB), which wastes money on unused space.\ngp3 (Capacity and Performance Decoupled): Designed with complete independence between Capacity, IOPS, and Throughput. A default gp3 volume provides 3,000 IOPS and 125 MB/s Throughput completely free, independent of disk size. When higher performance is needed, you can purchase additional IOPS or Throughput separately without expanding capacity.\nQuick Comparison: Storage Unit Price: gp3 is up to 20% cheaper than gp2 across all regions.\nDefault Baseline: gp2 delivers 3 IOPS/GB (up to 16,000 IOPS), while gp3 provides a fixed 3,000 IOPS (up to 16,000 IOPS).\nDefault Throughput: gp2 ranges from 128 MB/s to 250 MB/s (depending on capacity), whereas gp3 is fixed at 125 MB/s (can be actively increased up to 1,000 MB/s).\nScaling Mechanism: gp2 forces you to buy more GBs to scale performance, while gp3 lets you independently customize GBs, IOPS, and Throughput.\nCORE BENEFITS AND PRIORITY WORKLOADS Immediate FinOps Budget Optimization: The GB/month unit price of gp3 is roughly 20% lower than gp2. For systems operating hundreds or thousands of volumes, migration delivers massive monthly operational cost savings.\nZero-Downtime Migration: Thanks to Amazon EBS Elastic Volumes, moving from gp2 to gp3 happens directly on active volumes. EC2 instances continue running normally without requiring reboots, data restoration, or application disruptions.\nPriority Workloads for Migration:\nWeb Applications \u0026amp; API Servers\nSmall and Medium Databases (MySQL, PostgreSQL, MongoDB, SQL Server)\nBastion Hosts, Monitoring Servers (Prometheus, Zabbix)\nCI/CD Workers (Jenkins, GitLab Runner)\nFile Servers \u0026amp; Storage Nodes\nAUDITING, AUTOMATION, AND MONITORING PROCESS FOR DEVOPS To execute bulk migrations safely and efficiently, DevOps teams can follow this technical workflow:\nStep 1: Audit Existing gp2 Volumes: Use administrative tools like AWS Cost Optimization Hub, AWS Cost Explorer, or AWS CLI to identify volumes needing upgrades and estimate cost savings.\nStep 2: Automate the Migration Process (IaC \u0026amp; Automation): Instead of manually operating each volume on the AWS Management Console, use AWS Systems Manager (SSM) Automation or Lambda to call the ModifyVolume API for bulk upgrades. For Infrastructure as Code (Terraform / CloudFormation / AWS CDK), update the property volume_type = \u0026ldquo;gp3\u0026rdquo; in infrastructure management code to prevent IaC from overwriting old configurations during future deployments.\nStep 3: Monitor CloudWatch Metrics Post-Migration: After upgrading, track key metrics on Amazon CloudWatch for 7–14 days:\nVolumeReadOps and VolumeWriteOps: Calculate total actual IOPS consumed.\nVolumeThroughputPercentage: Check bandwidth consumption.\nVolumeConsumedReadWriteOps: Check if the system experiences throttling due to exceeding the default 3,000 IOPS threshold. If so, proactively configure higher IOPS for that volume.\nCONCLUSION Migrating from gp2 to gp3 is one of the highest cost-benefit ratio \u0026ldquo;Quick Wins\u0026rdquo; on AWS. Businesses instantly cut storage costs by 20% while gaining flexible, independent performance without accepting any system downtime. If your infrastructure still runs gp2 drives, now is the ideal time to automate this upgrade process.\nReference Source: https://aws.amazon.com/blogs/storage/migrate-your-amazon-ebs-volumes-from-gp2-to-gp3-and-save-up-to-20-on-costs/\n#AWS #AmazonEBS #AWSStorage #CostOptimization #FinOps #AmazonEC2 #CloudComputing #DevOps\nTAGS: announcements, Artificial Intelligence, AWS Public Sector, education, skills, skills development, workforce development\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/4-eventparticipated/4.1-event1/","title":"Event 1","tags":[],"description":"","content":"Summary Report: “FCAJ Community Day\u0026quot; Key Objectives Master Modern Architecture: Gain a comprehensive understanding of how cloud-native applications are designed, decoupled, and modernized on AWS. Shift to Business-First Design: Move beyond service-level features to focus on system design, domain modeling, and asynchronous event flows. Integrate AI into the SDLC: Explore how AI tools like Amazon Q Developer enhance engineering productivity across code generation, refactoring, and documentation.\nKey Highlights Domain-Driven Design (DDD): Emphasized starting system architecture by understanding business domain requirements and event triggers rather than database schemas.\nEvent-Driven Architecture (EDA): Demonstrated how asynchronous communication reduces tight coupling between services, improving system elasticity and fault tolerance.\nServerless Computing: Traced the progression from virtual servers (EC2) to containers and AWS Lambda, showing how serverless removes infrastructure management overhead.\nAmazon Q Developer: Showcased practical AI workflows for accelerating boilerplate coding, generating technical documentation, and assisting in modernizing legacy applications.\nStrategic Modernization: Highlighted that app modernization should follow an iterative, incremental roadmap rather than a risky full-scale rebuild.\nKey Takeaways Architecture Precedes Code: Understanding the business domain is the bedrock of system design; CSDL models and API endpoints should follow business requirements, not lead them.\nDecoupling Enables Scale: Asynchronous event streams prevent cascading failures and allow individual microservices to scale independently during traffic bursts.\nInfrastructure Automation: Serverless shifts engineer focus toward core business logic, maximizing developer velocity and operational efficiency.\nAI as a Productivity Co-Pilot: Generative AI tools accelerate routine software engineering tasks, but human architectural oversight remains essential.\nMy Experience Attending this workshop was a major turning point in my mindset as a software developer. Prior to this session, my instinct when building a project was to dive straight into designing CSDL tables and API routes. Seeing how enterprise systems leverage Domain-Driven Design completely transformed how I analyze software problems. The sessions provided a clear, real-world perspective on why modern cloud architectures are shifting toward serverless and event-driven patterns. Overall, the experience helped me transition from thinking merely as a coder to viewing software through the lens of a Cloud Solutions Architect.\nApplying to Project I am directly incorporating these learnings into my current AWS Event Management Platform: Refactoring Domain Flows: Before writing backend services, I mapped out the core business journey into discrete domain events: Event Registration, Ticket Generation, Attendance Tracking, and Certificate Issuance. Serverless \u0026amp; Event-Driven Stack: I reaffirmed my stack choice using Amazon API Gateway, AWS Lambda, and Amazon DynamoDB. Adding asynchronous event queues ensures that high-volume ticket releases won\u0026rsquo;t overload dependent services. AI-Assisted Workflow: I am leveraging AI tools to draft unit tests, format API documentation, and troubleshoot code, while enforcing strict human code reviews before pushing to production.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/","title":"Internship Report","tags":[],"description":"","content":"Internship Report Student Information: Full Name: Ho Si Khanh\nPhone Number: 0822017378\nEmail: sikhanh2003@gmail.com\nUniversity: Ho Chi Minh City University of Technology\nMajor: Information Technology\nClass: 22DTHJA1\nInternship Company: Amazon Web Services Vietnam Co., Ltd.\nInternship Position: FCAJ Cloud Intern\nInternship Duration: From 17/04/2026 to 12/07/2026\nReport Content Worklog Proposal Translated Blogs Events Participated Workshop Self-evaluation Sharing and Feedback "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.1-workshop-overview/","title":"Workshop Overview","tags":[],"description":"","content":"Overview of the Smart Attendance SaaS Platform Workshop Introduction In this lab, you will explore the big picture of building a multi-tenant timekeeping software-as-a-service (SaaS) platform powered 100% by the AWS Serverless ecosystem.\nSystem Architecture Diagram Below is the complete serverless architecture model that you will build and deploy throughout this workshop series:\nKey Objectives \u0026amp; Learning Outcomes After completing this workshop, you will gain hands-on expertise in:\nInfrastructure as Code (IaC): Defining and managing cloud infrastructure using AWS SAM (Serverless Application Model) via template code (template.yaml). Multi-Tenant Authentication: Configuring Amazon Cognito User Pool with custom attributes (tenantId, role) and attaching it to Amazon API Gateway HTTP API v2 via JWT Authorizer. Optimized NoSQL Database Modeling: Designing a Single-Table Design on Amazon DynamoDB, enabling KMS CMK encryption and DynamoDB Streams for Change Data Capture (CDC). Asynchronous Event-Driven Workflows: Integrating EventBridge Pipe, AWS Step Functions Express Workflow, Amazon SQS, and Amazon SES to automatically generate and deliver monthly PDF/Excel attendance reports via email. Web SPA Delivery \u0026amp; Edge Ingress Protection: Hosting a React SPA on Amazon S3, delivering it globally via Amazon CloudFront CDN, and restricting API ingress using a Custom Verification Header (x-origin-verify). Estimated Duration Estimated Time: 60 - 90 minutes. Level: Intermediate to Advanced. "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.2-week2/","title":"Week 2 Worklog","tags":[],"description":"","content":" Week 2 Objectives: Connect and get acquainted with members of First Cloud Journey. Understand basic AWS services, how to use the console \u0026amp; CLI. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 2 - Explore basic Amazon Bedrock: + API Keys + Test + Model Access - Cloudfront overview - Explore example projects that combine AWS services 25/04/2026 25/04/2026 https://aws.amazon.com/bedrock/ 3 - Learn about AWS VPC - SSH connection to EC2\n- Practice: + Deploying EC2 Instances + Setup Site-to-site VPN Connection in AWS 26/04/2026 26/04/2026 https://000003.awsstudygroup.com/ 4 - Learn about IAM + IAM User + IAM Group + IAM Role + Swith Role - Practice:\n+ Create IAM User/Group/Role + Switch Role 27/04/2026 27/04/2026 https://000002.awsstudygroup.com/ 5 - Learn about AWS Budget (Billing \u0026amp; Cost Management) - Learn how to use AWS Pricing Calculator - Practice: + Create Budgets with Alerts + Create Dashboard + Create workload estimate 28/04/2026 28/04/2026 https://docs.aws.amazon.com/cost-management/latest/userguide/what-is-costmanagement.html Week 2 Achievements: Gained understanding of AWS VPC for virtual network isolation.\nExplore how to monitor a secure SSH access to EC2 instances.\nEstablished secure Site-to-Site VPN connections between networks.\nUnderstood IAM for access control:\nIAM Users IAM Groups IAM Roles Role Switching Gained ability in creating and managing IAM entities.\nGained knowledge of AWS Budgets for cost monitoring.\nFamiliarized with AWS Pricing Calculator for accurate estimations.\nImplemented budgets with alerts for proactive cost management.\nCreated dashboards for visualizing billing data.\nGenerated workload estimates to predict expenses.\nDocumented key takeaways in a comprehensive event report (GenAI, Blockchains, AWS Vision\u0026hellip;).\nEnhanced expertise in AWS networking, security, cost optimization, and storage.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/4-eventparticipated/4.2-event2/","title":"Event 2","tags":[],"description":"","content":"Summary Report: Saturday Meetup Key Objectives Explore Real-Time Game Backend Architecture: Understand how to connect client-side game engines like Godot with AWS WebSockets for low-latency multiplayer functionality.\nMaster Containerization Fundamentals: Grasp the core architectural distinctions between hardware virtualization and OS-level containerization using Docker.\nAdvance Cloud Security with Machine Learning: Learn to build behavior-based Network Intrusion Detection Systems (NIDS) on AWS to complement traditional WAF signature protection.\nLeverage GraphRAG for Enterprise AI: Discover how integrating Knowledge Graphs with Amazon Bedrock and Amazon Neptune enhances Retrieval-Augmented Generation (RAG).\nPromote High-Performance Teamwork: Adopt actionable collaboration frameworks to align engineering goals, communication, and individual accountability.\nKey Highlights AWS WebSocket Game Networking: Demonstrated connecting Godot game clients directly to AWS WebSockets for efficient state synchronization and multiplayer networking.\nVirtualization vs. Containerization: Compared hypervisor-based VM overhead with Docker\u0026rsquo;s lightweight container-isolated environments for modern deployment pipelines.\nML-Based NIDS Deployment: Showcased training models on the CSE-CIC-IDS2018 dataset and correlating predictions with AWS WAF events on a real-time threat visualization dashboard.\nHelpdesk to DevOps Career Pathway: Highlighted real-world experiences transitioning from entry-level IT helpdesk to Senior Sysadmin and DevOps engineering at Central Retail Group.\nGraphRAG with Bedrock \u0026amp; Neptune: Walked through constructing structured knowledge graphs in Amazon Neptune to feed rich contextual metadata into Amazon Bedrock LLMs.\nFour Rules of Teamwork: Outlined the foundational pillars for engineering teams: Clear Goals, Right Placement, Open Communication, and Personal Accountability.\nKey Takeaways Behavioral Defense Exceeds Signatures: Traditional AWS WAF signature rules are insufficient against novel cyber attacks; ML-driven NIDS provides essential anomaly detection.\nContainers Maximize Efficiency: Moving from virtual machines to Docker containers eliminates full OS duplication, dramatically improving resource utilization and deployment speed.\nContextual AI via Knowledge Graphs: GraphRAG significantly reduces LLM hallucinations by enforcing structured data relationships through Amazon Neptune before querying Amazon Bedrock.\nMindset \u0026amp; Adaptability Fuel Career Growth: Technical progression from Helpdesk to Senior Sysadmin relies heavily on continuous learning, cloud adoption, and systematic problem-solving.\nMy Experience Attending this workshop provided an incredibly diverse set of insights, spanning low-level game networking all the way to cutting-edge AI architectures and team dynamics. Seeing how real-time WebSockets connect Godot clients to AWS gave me a newfound appreciation for cloud-native game backends. Furthermore, the deep dive into ML-based intrusion detection showed how cloud security is evolving from static rules to proactive, behavior-driven analysis.\nThe personal story of transitioning from IT helpdesk to Senior Sysadmin served as a powerful reminder that career growth is driven by curiosity and persistent skill building. Overall, the sessions bridged technical execution with practical career advice, helping me think like a well-rounded Cloud Systems \u0026amp; AI Engineer.\nApplying to Project I am directly incorporating these learnings into my ongoing cloud development projects: Containerizing Infrastructure: Converting application components into Docker containers to streamline local development and ensure environment parity across deployments.\nEnhancing Security Monitoring: Incorporating behavior-based threat inspection alongside AWS WAF rules to better detect anomalies and inspect unexpected payload spikes.\nExploring Graph-Enhanced Retrieval: Evaluating Amazon Bedrock alongside graph data models in Amazon Neptune to improve contextual accuracy in document querying pipelines.\nStrengthening Team Collaboration: Applying the four core rules of teamwork—setting Clear \u0026amp; Shared Goals and practicing Open Communication—during team sprint planning and code reviews.\nSummary: Modern cloud engineering requires a balance of efficient infrastructure, proactive security, contextual AI models, and strong team collaboration to build reliable software solutions.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.2-prerequiste/","title":"Preparation Steps","tags":[],"description":"","content":"Environment Prerequisites \u0026amp; Setup Before starting the hands-on deployment of the Smart Attendance SaaS Platform, ensure your local development environment or AWS Cloud9 workspace is configured with the necessary tools and credentials.\n1. Required Tooling Setup Verify that the following CLI tools are installed on your workstation:\nAWS CLI (v2.x): Command-line interface for communicating with AWS services. aws --version AWS SAM CLI: Tool for building, testing, and deploying Serverless applications. sam --version Node.js (v20.x+) \u0026amp; npm: JavaScript runtime for Lambda microservices \u0026amp; React SPA frontend. node -v npm -v Git: Source control management. git --version 2. Step-by-Step IAM User \u0026amp; Access Key Creation Following AWS security best practices, never use the AWS Root Account for hands-on labs. Create a dedicated IAM User with administrator permissions:\nStep 2.1: Create IAM User in AWS Console Log in to the AWS IAM Console. In the left navigation pane, select Users ➔ Click Create user. Specify user details: User name: WorkshopAdmin (or a custom name). Provide user access to the AWS Management Console: Optional if Web Console access is required. Click Next. Step 2.2: Attach Permissions Under Permissions options, select Attach policies directly. Search and select the managed policy: AdministratorAccess (Required for SAM CLI to provision CloudFormation stacks, IAM Roles, Lambda, DynamoDB, API Gateway, Cognito, S3, CloudFront, SQS, Step Functions, etc.). Click Next ➔ Review details ➔ Click Create user. Step 2.3: Generate Access Key ID \u0026amp; Secret Access Key Click on your newly created user (WorkshopAdmin) in the Users table. Select the Security credentials tab. Scroll down to the Access keys panel ➔ Click Create access key. Select the use case: Command Line Interface (CLI). Check the confirmation checkbox \u0026ldquo;I understand the above recommendation and want to proceed to create an access key.\u0026rdquo; ➔ Click Next. (Optional) Set a description tag (e.g., AWS CLI for Workshop) ➔ Click Create access key. CRITICAL: Download the .csv file containing the Access Key ID and Secret Access Key immediately. (You will not be able to view the Secret Access Key again after closing this window). 3. Configure AWS CLI Credentials Once your Access Keys are created, open your terminal and execute:\naws configure Enter your credentials generated in Step 2.3:\nAWS Access Key ID [None]: AKIAXXXXXXXXXXXXXXXX AWS Secret Access Key [None]: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY Default region name [None]: ap-southeast-1 Default output format [None]: json Verify successful connection:\naws sts get-caller-identity A JSON response displaying your UserId and Arn confirms your AWS CLI is successfully configured!\n4. Clone Project Source Repository Clone the project source repository into your working directory:\ncd ~/Documents/AWS git clone https://github.com/your-repo/smart-attendance-saas.git cd smart-attendance-saas Source project file structure:\nsmart-attendance-saas/ ├── backend/ # Serverless Backend Infrastructure (AWS SAM) │ ├── src/ # Lambda microservice handler functions │ ├── template.yaml # AWS SAM Infrastructure Template │ └── samconfig.toml # Deployment parameter configurations ├── frontend/ # React SPA Frontend (Vite + TailwindCSS) │ ├── src/ # Components and Dashboard pages │ └── package.json # Node dependencies └── platform_architecture.drawio # System architecture diagram You are now ready to proceed to the backend deployment module!\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/2-proposal/","title":"Proposal","tags":[],"description":"","content":"SMART ATTENDANCE SAAS PLATFORM Local and Cloud-Ready Hybrid Solution for Smart Attendance and User Management\n1. Project Summary The Smart Attendance SaaS Platform is a comprehensive digital solution designed for tracking attendance, user registration, authentication, and report management. The project was researched and developed to streamline attendance tracking workflows, support role-based user management, and provide a user-friendly interface for modern organizations and academic or enterprise teams.\nThe system supports clean user workflows by separating pages and functionalities such as Login, Register, Checkout, and Dashboard/Attendance reports. The platform covers the core requirements of an attendance tracking system through interconnected components:\nUser Authentication \u0026amp; Registration: Manages user identity and account creation through dedicated registration and login interfaces.\nAttendance Management: Allows users to perform check-in and checkout actions efficiently with real-time tracking capabilities.\nReporting \u0026amp; Exporting: Collects operational attendance data and supports reporting features to export logs and metrics.\nThe project utilizes a modern web-based architecture combining an HTML/CSS frontend with a Node.js and Express backend (server.js), structured cleanly with modular source files (src/handler/, src/shared/) to ensure maintainability and smooth local or cloud deployment.\n2. Problem Statement What is the problem? Currently, many small and medium-sized teams or organizations still rely on manual tracking or fragmented tools when managing member attendance, leading to several drawbacks:\nDifficulty tracking real-time status: Traditional manual methods lack instant verification mechanisms, causing confusion and inaccurate attendance records.\nComplex authentication overheads: Managing user credentials and secure access without a streamlined system leads to security vulnerabilities and cumbersome user experiences.\nLack of unified reporting: Compiling attendance logs and generating reports manually consumes substantial administrative time and effort.\nInfrastructure rigidity: Heavy or poorly configured deployment setups make local testing, debugging, and continuous development complicated.\nSolution The platform provides a unified application that automates and simplifies attendance tracking touchpoints:\nStreamlined Check-in/Check-out Workflows: Users can seamlessly interact via intuitive HTML interfaces (index.html, checkin.html, checkout.html) backed by robust server routes to record data instantly.\nStructured Backend Processing: Powered by an Express-based server (server.js) equipped with CORS support and modular handlers (src/handler/attendance/checkin.js, src/handler/reports/export.js) for reliable request handling and data management.\nFlexible Deployment and Configuration: Designed with clear separation between frontend views and backend services, allowing developers to easily switch and test between local development environments and cloud configurations.\nBenefits and Value Delivered Optimized Operational Workflow: Reduces administrative overhead by digitizing the entire attendance tracking and reporting pipeline.\nHigh Extensibility and Clean Architecture: The modular separation of handlers, shared database configurations, and UI components allows for easy scaling and feature expansion.\nDeveloper-Friendly Environment: Provides a clear project layout that supports seamless local execution, fast debugging, and straightforward integration with version control systems like Git.\n3. Solution Architecture MVP Architecture The MVP is designed with a fully serverless, highly scalable cloud architecture tailored for SaaS applications, leveraging AWS managed services as illustrated in the system topology.\nCore AWS Services \u0026amp; Infrastructure:\nGlobal Edge Services: Amazon Route 53 (DNS Resolution), Amazon CloudFront (Global CDN), AWS Shield (DDoS Protection), AWS WAF v2, and Amazon S3 (React SPA Hosting).\nAuthentication \u0026amp; API Layer: Amazon Cognito (User Auth, JWT Token, Tenant/Role Management), AWS Secrets Manager, and Amazon API Gateway (HTTP API v2, JWT Authorizer, Caching, Throttling).\nCompute Layer (AWS Lambda \u0026amp; Step Functions): Lambda functions for Webhook, Check-in, Check-out, Attendance, Report, Admin, and Subscription processing, coupled with Amazon SQS (Queue + DLQ) and AWS Step Functions Workflow.\nData Layer: Amazon DynamoDB (Single-Table Design, Streams Enabled for Attendance, Users, Tenants), DynamoDB Streams, AWS KMS (Customer Keys for Data Encryption), and Amazon S3 (Report Storage for PDF, Excel, CSV).\nEvent-Driven \u0026amp; Notification Layer: Amazon EventBridge (Event Bus), Amazon SNS (Email Queue + DLQ Buffer), Lambda Email Worker, and Amazon SES (Email Delivery for Reports, Alerts, Invoices).\nOperations Layer (Monitoring, Tracing \u0026amp; CI/CD): CloudWatch, AWS X-Ray, CloudFormation, CodePipeline, CodeBuild, and AWS Security Hub / GuardDuty.\n4. Technical Implementation Implementation Phases Phase 1 – MVP Deployment (Completed / Current)\nImplement Global Edge Services (Route53, CloudFront, WAF, S3 SPA Hosting).\nConfigure Authentication \u0026amp; API Layer via Amazon Cognito and API Gateway.\nDeploy Compute Layer using AWS Lambda functions and Step Functions workflow.\nEstablish Data Layer with Amazon DynamoDB Single-Table Design, S3 Report Storage, and KMS encryption.\nEnable Event-Driven notifications via EventBridge, SNS, and SES.\nLog and monitor via CloudWatch, X-Ray, and Security Hub.\nPhase 2 – Future Design Expansion\nOptimize asynchronous processing pipelines via SQS and SNS queues.\nEnhance automated CI/CD deployment routines using CodePipeline and CodeBuild.\nScale automated security policies and threat detection via GuardDuty.\n5. Timeline \u0026amp; Milestones Phase Description Week 7: Project Initiation \u0026amp; Feasibility Comprehensive SaaS requirements specification, feasibility study on multi-tenant isolation, and definition of functional metrics for smart attendance workflow. Week 8: Core Architecture \u0026amp; Flow Modeling High-availability serverless topology mapping, detailed sequence diagrams for check-in/check-out tracking, and secure tenant authentication flowcharts. Week 9: Infrastructure Provisioning Infrastructure-as-Code scripts (template.yaml) provisioning DynamoDB single-tables, KMS encryption keys, and S3 secure storage buckets. Week 10: Security \u0026amp; Gateway Implementation Configured Amazon Cognito user pools with JWT tokens, hardened API Gateway endpoints, and deployed AWS WAF v2 rules for rate-limiting and bot defense. Week 11: Backend \u0026amp; Business Logic Engineering Functional Lambda microservices for attendance processing, automated SQS/SNS messaging buffers, Step Functions report workflows, and SES notification templates. Week 12: Integration, Testing \u0026amp; Launch Performance stress tests across CloudFront edge locations, integrated CI/CD pipeline verification via CodePipeline, and complete operational handover documentation. 6. Cost Estimate (AWS Pricing Estimate) Total Cost Monthly: $13.50 Upfront: $0.00 12 Months: $162.00 Service Overview Service Region Monthly Cost Upfront 12-Month Cost Notes Amazon Route 53 Asia Pacific (Singapore) $0.50 $0.00 $6.00 1 Hosted Zone \u0026amp; domain resolution setup Amazon CloudFront Asia Pacific (Singapore) $0.00 $0.00 $0.00 Global CDN distribution for React SPA AWS WAF v2 Asia Pacific (Singapore) $6.00 $0.00 $72.00 1 Web ACL; rate limiting, bot control, and geo rules Amazon S3 Asia Pacific (Singapore) $0.35 $0.00 $4.20 SPA hosting and intelligent-tiering report storage Amazon Cognito Asia Pacific (Singapore) $0.00 $0.00 $0.00 User pool authentication (Within monthly free tier) AWS Secrets Manager Asia Pacific (Singapore) $0.40 $0.00 $4.80 1 active secret with automatic credential rotation Amazon API Gateway Asia Pacific (Singapore) $0.20 $0.00 $2.40 HTTP API v2 with JWT authorizer, caching, and throttling AWS Lambda Asia Pacific (Singapore) $1.85 $0.00 $22.20 Compute layer for check-in/out, webhooks, and reporting AWS Step Functions Asia Pacific (Singapore) $0.10 $0.00 $1.20 Workflows for asynchronous report orchestration Amazon SQS Asia Pacific (Singapore) $0.00 $0.00 $0.00 Standard queues + DLQ buffers Amazon DynamoDB On-Demand Asia Pacific (Singapore) $0.60 $0.00 $7.20 Single-table design, streams enabled, on-demand mode AWS KMS Asia Pacific (Singapore) $1.00 $0.00 $12.00 1 Customer Managed Key (CMK) for data encryption Amazon EventBridge Asia Pacific (Singapore) $0.00 $0.00 $0.00 Custom event bus routing Amazon SNS Asia Pacific (Singapore) $0.00 $0.00 $0.00 Notification routing and email queue buffer Amazon SES Asia Pacific (Singapore) $0.10 $0.00 $1.20 Outbound transactional emails (Reports, alerts, invoices) CloudWatch, X-Ray \u0026amp; Security Hub Asia Pacific (Singapore) $2.40 $0.00 $28.80 Logs, metrics, distributed tracing, and security posture checks Total (Estimate) — $13.50 $0.00 $162.00 Based on AWS Pricing Calculator 7. Risk Assessment Risk Impact Probability Mitigation API request throttling or latency Medium High Use API Gateway caching and Lambda optimization Cost increase from database traffic spikes High Medium Utilize DynamoDB on-demand scaling with fine-grained partition keys Pipeline deployment failures Medium Low Use CloudFormation rollback policies and CodePipeline stages Security vulnerabilities High Medium Enforce WAF rules, IAM least privilege, KMS encryption, and Security Hub alerts Third-party API dependency Medium Medium Implement robust error handling with SQS DLQ buffers 8. Expected Outcomes Technical Outcomes: Complete serverless attendance tracking workflow backed by AWS managed services.\nHighly scalable event-driven architecture with secure CI/CD and monitoring pipelines.\nImproved reliability via isolated data layers and asynchronous SQS/Step Functions workflows.\nLong-Term Value: A production-ready foundation for Enterprise SaaS Attendance \u0026amp; Management expansion.\nFully automated cloud infrastructure utilizing Infrastructure as Code (CloudFormation).\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.3-week3/","title":"Week 3 Worklog","tags":[],"description":"","content":" Week 3 Objectives: Understand basic AWS services, how to use the console \u0026amp; CLI. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 2 - Learn about S3: + Static hosting + Storage + Bucket + Accelerate Static web with Cloudfront - Deploy static website on S3 - Upload data to S3 from real website by AWS SDK 02/05/2026 02/05/2026 https://docs.aws.amazon.com/s3/ 3 - Explore Amazon Q Developer - Practice: + Setup Amazon Q extesion in Visual Studio Code + Monitoring AI-DLC in software development + Complete a MVP for a product 03/05/2026 03/05/2026 4 - Explore AWS Amplify + Pricing + Hosting + Server-Side Render + Deploying - Explore Amplify Storage\n- Explore the ability of Amplify in conecting with other services - Practice: + Deploy a MVP(Typescripts FullStack) on AWS Amplify by importing from Github 04/05/2026 04/05/2026 https://docs.amplify.aws/ 5 - Explore about AWS Cognito - Learn how to use Amplify\u0026rsquo;s framework to apply Cognito into a production - Read docs of How to apply Authenticating using Social Login into prodution through Cognito - Practice: + Create User pool \u0026amp; App + Apply Cognito in to a MVP + Manage user accessing 05/05/2026 05/05/2026 https://aws.amazon.com/vi/cognito/ Week 3 Achievements: Explored Amazon S3 fundamentals:\nStatic website hosting Storage classes Bucket management Content acceleration via CloudFront Enabled hosting of static websites on S3 with global distribution.\nIntegrated AWS SDK for seamless data uploads to S3 from applications.\nGained proficiency in Amazon Q Developer for AI-assisted development.\nIntegrated Amazon Q extension in VS Code for enhanced coding support.\nMonitored AI-driven development lifecycle in software projects.\nBuilt and completed an MVP product using AI tools.\nUnderstood AWS Amplify features:\nPricing models Hosting options Server-Side Rendering Deployment processes Explored Amplify Storage for efficient data management.\nLearned Amplify\u0026rsquo;s integration capabilities with other AWS services.\nDeployed a TypeScript full-stack MVP on Amplify from GitHub.\nEplored AWS Cognito for user authentication.\nApplied Cognito via Amplify framework in production environments.\nExplpre social login authentication through Cognito.\nCreated user pools and apps for secure identity management.\nCompared AWS services with competitors to identify strengths.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.3-deploy-backend/","title":"Deploy Serverless Backend","tags":[],"description":"","content":"Deploy Serverless Backend Infrastructure with AWS SAM \u0026amp; Cognito In this module, you will package and deploy the complete Serverless Backend infrastructure using AWS SAM (Serverless Application Model), including Amazon Cognito User Pool, HTTP API Gateway v2, AWS Lambda microservices, Amazon DynamoDB Single-Table, and AWS KMS Keys.\n1. Inspect Infrastructure Code (template.yaml) The template.yaml file specifies all cloud resources declaratively. Key components include:\nCognito User Pool (CognitoUserPool): Manages user registration, authentication, and JWT issuing. Defines custom schema attributes tenantId and role to support multi-tenancy. HTTP API Gateway (AttendanceApi): Configures CognitoAuthorizer using OAuth2/JWT standard pointing to the Cognito User Pool issuer URL. KMS Key (DataKMSKey): Customer Managed Key (CMK) for data-at-rest encryption across DynamoDB and S3 buckets. DynamoDB Table (SaaSAttendanceTable): Single-Table Design schema with PK partition key and SK sort key, On-Demand billing, and DynamoDB Streams enabled. Lambda Microservices: AuthFunction: Handles login, registration, and token exchange (/auth/*). CheckInFunction: Records employee clock-in events (/attendance/check-in). CheckOutFunction: Records employee clock-out events (/attendance/check-out). AttendanceHistoryFunction: Queries attendance logs (/attendance/history). AdminFunction: Handles admin management and company metrics (/admin/*). ReportFunction: Handles async report creation requests. WebhookFunction: Processes external payment webhooks and system alerts. 2. Build Infrastructure Artifacts (sam build) Navigate to the backend/ directory and execute the build command:\ncd backend sam build Expected build confirmation:\nBuild Succeeded Built Artifacts : .aws-sam/build Valid Templates : .aws-sam/build/template.yaml 3. Deploy Cloud Infrastructure (sam deploy) Execute the guided deployment command:\nsam deploy --guided Provide the deployment parameters when prompted:\nConfiguring SAM deploy ====================== Stack Name [sam-app]: smart-attendance-backend AWS Region [us-east-1]: us-east-1 Parameter AllowedOrigin [https://your-cloudfront-domain.cloudfront.net]: https://localhost:3000 Parameter OriginVerifySecret [SaaS-Secure-Verification-Token-2026]: SaaS-Secure-Verification-Token-2026 Confirm changes before deploy [Y/n]: n Allow SAM CLI IAM role creation [Y/n]: Y Disable rollback [y/N]: N Save arguments to configuration file [Y/n]: Y SAM configuration file [samconfig.toml]: samconfig.toml SAM configuration environment [default]: default CloudFormation stack creation takes approximately 2–3 minutes.\n[!TIP] Troubleshooting Error: S3 Bucket does not exist:\nThis error occurs when the SAM CLI managed CloudFormation stack (aws-sam-cli-managed-default) still exists while its underlying S3 bucket was deleted manually. Delete the stale managed stack with:\naws cloudformation delete-stack --stack-name aws-sam-cli-managed-default --region ap-southeast-1 Then re-run sam deploy --guided to let SAM CLI create a clean, brand-new S3 Deployment Bucket.\n4. Capture Stack Outputs Upon successful deployment, SAM CLI displays the stack Outputs:\nKey AttendanceApiUrl Description API Endpoint URL Value https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod Key CognitoUserPoolId Description Cognito User Pool ID Value us-east-1_xxxxxxxxx Key CognitoUserPoolClientId Description Cognito App Client ID Value xxxxxxxxxxxxxxxxxxxxxxxxxx [!IMPORTANT] Save the AttendanceApiUrl, CognitoUserPoolId, and CognitoUserPoolClientId values. You will need them to configure the React SPA frontend in subsequent modules!\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/3-blogstranslated/","title":"Translated Blogs","tags":[],"description":"","content":"This section will list and introduce the blogs you have translated. For example:\nBlog 1 - AWS SECURITY \u0026amp; S3 – Amazon S3 to Disable SSE-C by Default in April 2026: What Developers and DevOps Need to Know Amazon S3 is one of the most popular storage services on AWS, used for everything from static websites and data lakes to backups and AI/ML applications. Alongside limitless scalability, data security is always a top priority for AWS. Recently, AWS announced a major change regarding Server-Side Encryption with Customer-Provided Keys (SSE-C). Starting in April 2026, new S3 General Purpose Buckets will no longer support SSE-C by default, which directly impacts applications using this encryption method.\nBlog 2 - AWS BACKUP – Item-Level Recovery for Amazon EBS and Amazon S3 Accidentally deleting data is a common operational issue—whether it\u0026rsquo;s a config file, log, PDF, or video stored on Amazon EBS or Amazon S3. Previously, recovering a single file from an EBS Snapshot or AWS Backup meant restoring the entire volume, attaching it to an EC2 instance, and manually copying the file, which wasted time, compute resources, and storage costs. To solve this, AWS introduced AWS Backup Search and Item-Level Recovery, enabling direct searching and restoring of individual files from Amazon EBS and Amazon S3 backups.\nBlog 3 - AWS COST OPTIMIZATION – Migrating Amazon EBS Volumes from gp2 to gp3 Amazon EBS (Elastic Block Store) is a popular block storage service used alongside Amazon EC2 for many production systems. Over the years, many businesses still run a large volume of EBS volumes using gp2 (General Purpose SSD) because it used to be the default AWS choice.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.4-dynamodb-singletable/","title":"DynamoDB Single-Table Design","tags":[],"description":"","content":"DynamoDB Single-Table Design \u0026amp; DynamoDB Streams CDC In a Multi-Tenant SaaS platform, database architecture directly dictates infrastructure cost, query performance, and Tenant Data Isolation.\nIn this module, you will explore the Single-Table Design pattern on Amazon DynamoDB and Change Data Capture (CDC) with DynamoDB Streams.\n1. Single-Table Schema Layout Instead of provisioning separate databases or tables per tenant/entity (Users, Attendance, Tenants, Subscriptions), all entities are co-located within a Single Table (smart-attendance-database) using HASH (PK) \u0026amp; RANGE (SK) design:\nEntity Type Partition Key (PK) Sort Key (SK) Attributes Tenant Record TENANT#\u0026lt;tenantId\u0026gt; METADATA tenantName, plan, status, createdAt User Profile TENANT#\u0026lt;tenantId\u0026gt; USER#\u0026lt;userId\u0026gt; email, fullName, role, department Attendance Log TENANT#\u0026lt;tenantId\u0026gt; ATTENDANCE#\u0026lt;userId\u0026gt;#\u0026lt;timestamp\u0026gt; checkInTime, checkOutTime, status, location Subscription Billing TENANT#\u0026lt;tenantId\u0026gt; SUB#\u0026lt;billingId\u0026gt; planTier, amount, paymentStatus, expiryDate Ironclad Tenant Data Isolation Every Lambda database query must explicitly scope requests using the Partition Key prefix TENANT#\u0026lt;tenantId\u0026gt;. Guarantees 100% isolation against cross-tenant data leakage risks. 2. Inspect DynamoDB Table via AWS Console Open the Amazon DynamoDB Console. Select Tables -\u0026gt; Choose smart-attendance-database. Review the Overview section: Read/Write capacity mode: On-Demand (scales throughput automatically). Encryption: KMS (encrypted using Customer Managed Key DataKMSKey). Point-in-time recovery (PITR): ENABLED. DynamoDB Streams: ENABLED (NEW_AND_OLD_IMAGES). 3. EventBridge Pipe Integration for CDC To process database mutations asynchronously without blocking the Check-in API latency, the solution connects DynamoDB Streams to EventBridge using AWS EventBridge Pipes:\nDdbToEventBridgePipe: Type: AWS::Pipes::Pipe Properties: Name: smart-attendance-ddb-stream-pipe Source: !GetAtt SaaSAttendanceTable.StreamArn Target: !Sub \u0026#39;arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default\u0026#39; When a new clock-in entry is committed to DynamoDB, DynamoDB Streams captures the change record. EventBridge Pipe routes the AttendanceCreated event directly to the EventBridge Event Bus, triggering background notification workers or third-party webhooks seamlessly. "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/4-eventparticipated/","title":"Events Participated","tags":[],"description":"","content":"During my internship, I participated in two events. Each one was a memorable experience that provided new, interesting, and useful knowledge, along with gifts and wonderful moments.\nEvent 1 Event Name: FCAJ Community Day 2026\nDate \u0026amp; Time: 09:00 AM - 12:00 PM, May 23, 2026\nLocation: 26th Floor, Bitexco Financial Tower\nRole: Attendee\nEvent 2 Event Name: Saturday Meetup\nDate \u0026amp; Time: 09:00 AM - 12:00 PM, June 06, 2026\nLocation: 26th Floor, Bitexco Financial Tower\nRole: Attendee\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.4-week4/","title":"Week 4 Worklog","tags":[],"description":"","content":" Week 4 Objectives: Learn database essentials using Amazon RDS and practice deployments. Explore AWS Support and set up development environments with AWS Toolkit. Explore frontend frameworks and integrate AWS services for practical applications. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Explore about AWS Lambda - Practice: + Create Start\u0026amp;Stop Function for EC2\n08/05/2026 08/05/2026 https://000022.awsstudygroup.com/5-createlambdafunction/ 2 - Database Essentials with Amazon Relational Database Service (RDS) - Pratice: + Create EC2 Instance + Create RDS Instance + Deploy application 09/05/2026 09/05/2026 https://000005.awsstudygroup.com/ 3 - Explore about NextJS/ UI Design - Explore about AWS Support - Development Environment with AWS Toolkit for VS Code - Practice: + Create Support Case + Setup/Configure VS Code DevEnv with AWS Toolkit 10/05/2026 10/05/2026 https://000087.awsstudygroup.com/ Week 4 Achievements: Gained knowledge of AWS Lambda for serverless computing.\nDeveloped Lambda functions to automate EC2 start/stop operations.\nLearned database essentials with Amazon RDS.\nPracticed creating EC2 and RDS instances.\nDeployed an application integrating EC2 and RDS.\nExplored AWS Support features.\nSet up development environment with AWS Toolkit in VS Code.\nPracticed creating a support case.\nConfigured VS Code with AWS Toolkit for development.\nGained understanding of AWS Lambda with API Gateway.\nScaffolded a personal tech blog using Next.js and Animate React.\nCreated Lambda function for automatic thumbnail generation on S3 uploads.\nBuilt an API using API Gateway integrated with Lambda functions.\nEnhanced skills in serverless architectures, databases, and AI integration.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.5-week5/","title":"Week 5 Worklog","tags":[],"description":"","content":" Week 5 Objectives: Build AWS Architecture with Amazon Q Developer CLI adnd MCP Learn resource management, scaling, and development methodologies. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Read docs about MCP - Read docs about Amazon Q Developer CLI - Explore about \u0026ldquo;Build AWS Architecture with Amazon Q Developer CLI adnd MCP\u0026rdquo; 15/05/2026 15/05/2026 https://000038.awsstudygroup.com/ 2 - Learn about Auto Scaling with EC2 - Build AWS Architecture with Amazon Q Developer CLI adnd MCP 16/05/2026 16/05/2026 https://000006.awsstudygroup.com/ 3 - Manage Resources Using Tags and Resource Groups - Learn about AI-DLC and Spec-driven development methodologies 17/05/2026 17/05/2026 https://000027.awsstudygroup.com/ 4 - Explore about DynamoDB - Practice with DynamoDB 18/05/2026 18/05/2026 https://aws.amazon.com/vi/dynamodb Week 5 Achievements: Gained understanding of Amazon Q Developer CLI \u0026amp; MCP.\nUnderstood EC2 Auto Scaling for dynamic resource adjustment.\nLearned resource management using tags and groups.\nExplored AI-DLC and spec-driven development methodologies.\nPracticed applying tags to resources.\nCreated resource groups for organization.\nReviewed and deepened knowledge of Cloud9 and CDK.\nEnhanced skills in project integration and AWS tool usage.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.5-async-reporting/","title":"Asynchronous Reporting Workflow","tags":[],"description":"","content":"Build Asynchronous Reporting Workflows with Step Functions, SQS \u0026amp; SES In large enterprise applications, aggregating monthly timekeeping data across thousands of employees can take anywhere from 10 to 60 seconds of compute time. Executing this synchronously over an API Gateway connection risks triggering an HTTP Timeout (30s limit) and freezing the user interface.\nIn this lab module, you will implement an asynchronous reporting solution combining AWS Step Functions Express State Machine, Amazon SQS Queue Buffer, Amazon S3, and Amazon SES Email Worker.\n1. Decoupled Asynchronous Architecture Flow [Admin Request] ➔ [API Gateway] ➔ [SQS ReportQueue] ➔ [Step Functions Engine] │ ▼ [Amazon SES Email] ◄─ [Lambda Email Worker] ◄─ [Amazon S3 Bucket (Report PDF/Excel)] Trigger Request: Admin clicks \u0026ldquo;Export Monthly Report\u0026rdquo;. The React frontend sends an HTTP POST request to API Gateway. The request is immediately buffered into the SQS ReportQueue, returning a 202 Accepted response instantly (UI remains responsive). State Machine Execution: The AWS Step Functions Express Workflow (ReportStateMachine) consumes tasks from SQS, orchestrating a 5-step workflow: ValidateRequest: Validates yearMonth and tenantId parameters. InitializeReportStatus: Updates the report status to PROCESSING in DynamoDB. GenerateReportFile: Triggers a Lambda function to query attendance logs and build Excel/PDF binaries. WriteFileToS3: Writes generated report files directly to an Amazon S3 Bucket (SaaSReportBucket) encrypted with KMS CMK and lifecycle managed via S3 Intelligent-Tiering. FinalizeReportStatus: Updates report status to COMPLETED and attaches the S3 Key reference in DynamoDB. Notification Event: EventBridge captures the ReportGenerated event, dispatching a notification message to SQS EmailQueue. The Lambda Email Worker processes queue messages in batches, invoking Amazon SES to email secure download links to admins. 2. State Machine Infrastructure Definition (template.yaml) Below is the Express State Machine definition declared within AWS SAM:\nReportStateMachine: Type: AWS::Serverless::StateMachine Properties: Type: EXPRESS Role: !GetAtt ReportWorkflowRole.Arn Definition: StartAt: ValidateRequest States: ValidateRequest: Type: Pass ResultPath: \u0026#34;$.validation\u0026#34; Next: InitializeReportStatus InitializeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:putItem Parameters: TableName: !Ref SaaSAttendanceTable Item: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } Status: { S: \u0026#34;PROCESSING\u0026#34; } Next: GenerateReportFile GenerateReportFile: Type: Pass Result: S3Key: \u0026#34;reports/monthly-attendance-report.xlsx\u0026#34; ResultPath: \u0026#34;$.fileDetails\u0026#34; Next: WriteFileToS3 WriteFileToS3: Type: Task Resource: arn:aws:states:::aws-sdk:s3:putObject Parameters: Bucket: !Ref SaaSReportBucket Key.$: \u0026#39;$.fileDetails.S3Key\u0026#39; Body: \u0026#34;Report Binary Content\u0026#34; Next: FinalizeReportStatus FinalizeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:updateItem Parameters: TableName: !Ref SaaSAttendanceTable Key: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } UpdateExpression: \u0026#34;SET #status = :val, #file = :file\u0026#34; ExpressionAttributeNames: \u0026#34;#status\u0026#34;: \u0026#34;Status\u0026#34; \u0026#34;#file\u0026#34;: \u0026#34;ReportFileKey\u0026#34; ExpressionAttributeValues: \u0026#34;:val\u0026#34;: { S: \u0026#34;COMPLETED\u0026#34; } \u0026#34;:file\u0026#34;: { S.$: \u0026#39;$.fileDetails.S3Key\u0026#39; } End: true 3. SQS Queue \u0026amp; Dead Letter Queue (DLQ) Setup To guarantee notification delivery resilience against network faults or SES sandbox rate limits, the queue architecture incorporates a Dead Letter Queue (DLQ) pattern:\nEmailQueue: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-queue RedrivePolicy: deadLetterTargetArn: !GetAtt EmailDLQ.Arn maxReceiveCount: 3 EmailDLQ: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-dlq If message processing fails 3 consecutive times in the worker Lambda, SQS automatically isolates failed messages in EmailDLQ for inspection without message loss. "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/","title":"Workshop","tags":[],"description":"","content":"Building a Multi-Tenant Smart Attendance Platform with AWS Serverless Architecture Overview In this hands-on Workshop series, you will step-by-step build and deploy a complete Smart Attendance SaaS Platform engineered for multi-tenant organizations using AWS Serverless Optimized Pro Architecture.\nYou will directly practice Infrastructure as Code (IaC) with AWS SAM (Serverless Application Model), configure identity authentication with Amazon Cognito User Pool, model data with Amazon DynamoDB (Single-Table Design) enforcing tenant isolation via tenantId, implement AWS Step Functions Express Workflows and Amazon SQS / SES for asynchronous report generation, and deploy a React SPA frontend globally over Amazon S3 and Amazon CloudFront CDN secured with Custom Origin Verification Headers.\nWorkshop Modules Workshop Overview Prerequisites Deploy Serverless Backend with AWS SAM DynamoDB Single-Table Design \u0026amp; DynamoDB Streams Build Asynchronous Reporting Workflow Deploy React SPA Frontend \u0026amp; CloudFront CDN End-to-End Testing \u0026amp; Resource Cleanup "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/6-self-evaluation/","title":"Self-Assessment","tags":[],"description":"","content":"During my internship at AWS First Cloud AI Journey from 17/04/2026 to 12/07/2026, I had the opportunity to learn, practice, and apply the knowledge acquired in school to a real-world working environment.\nI participated in AIVanguard Team as the role of Fullstack Developer, through which I improved my skills in Frontend\u0026amp;Backend Programming, AWS Well-Architecture Framework, Git, Serverless, Corporate Culture and Growth Mindset\u0026hellip;.\nIn terms of work ethic, I always strived to complete tasks well, complied with workplace regulations, and actively engaged with colleagues to improve work efficiency.\nTo objectively reflect on my internship period, I would like to evaluate myself based on the following criteria:\nNo. Criteria Description Good Fair Average 1 Professional knowledge \u0026amp; skills Built Project 1, used Serverless Framework, S3, Lambda, DynamoDB, Bedrock,\u0026hellip; ☐ ✅ ☐ 2 Ability to learn Rapidly adopted new tools (Amazon Q, Bedrock, CloudThinker, Serverless) ☐ ✅ ☐ 3 Proactiveness Initiated tasks: architecture designs, hackathon proposal, demos ✅ ☐ ☐ 4 Sense of responsibility Met deadlines, delivered slides, demos, and final deployment ✅ ☐ ☐ 5 Discipline Generally on time; room to improve strict adherence to schedules ✅ ☐ ☐ 6 Progressive mindset Actively sought feedback and iterated on Project 1 and documentation ✅ ☐ ☐ 7 Communication Presenting ideas and reporting work clearly ☐ ✅ ☐ 8 Teamwork Collaborated on GameDay and hackathon; communicated with mentors ✅ ☐ ☐ 9 Professional conduct Respectful and proactive in team interactions ☐ ✅ ☐ 10 Problem-solving skills Solved many integration issues; seek further practice on complex debugging ✅ ☐ ☐ 11 Contribution to project/team Major contributor to Project 1 features and architecture ✅ ☐ ☐ 12 Overall Consistent progress from basics to production-ready deployment ✅ ☐ ☐ Overview: During the internship period from April 19, 2026, to July 5, 2026, I focused on building a solid AWS infrastructure foundation and implementing practical projects. My work roadmap progressed from learning core services to designing architectures, deploying backends, and optimizing systems based on mentor feedback.\nWeeks 1–2: Mastered AWS foundations (EC2, IAM, RDS), account setup, and identity/access management.\nWeeks 3–6: Deployed advanced infrastructure services including Networking (Route 53, Transit Gateway, VPC Peering), Storage (S3, FSx, Storage Gateway), and security/monitoring solutions (Security Hub, CloudWatch, KMS).\nWeeks 7–9: Transitioned from theoretical architecture to practical implementation. Designed system architecture diagrams, deployed the backend, performed database migrations, and managed systems via MobaXterm.\nWeeks 10–12: Finalized the project through mentor reviews, optimized workflows, and completed all reporting procedures (worklogs, events).\nKey Achievements:\nGained proficiency in critical AWS services across Compute, Storage, Networking, Security, and Database domains.\nSuccessfully established Auto Scaling and Hybrid DNS systems, and configured data security (Encryption at rest).\nCompleted the end-to-end project architecture and deployed a stable backend.\nDocumented all project materials, architecture diagrams, and weekly worklogs throughout the duration.\nCompetency Evaluation \u0026amp; Areas for Improvement:\nTechnical Knowledge \u0026amp; Learning Ability: Capable of practical implementation, but needs to delve deeper into \u0026ldquo;under-the-hood\u0026rdquo; system principles to solve complex problems.\nCommunication: Needs to improve skills in synthesizing information and transforming technical requirements into concise, visual reports for management.\nProfessional Behavior: Requires increased consistency in personal work processes to ensure strict adherence to the company\u0026rsquo;s technical standards.\nAction Plan (Next 3 Months):\nSystematize Knowledge: Dedicate time for in-depth study of specific modules: Well-Architected Framework, Advanced Networking, and Cloud Security.\nAccelerate Problem Solving: Apply spaced-repetition note-taking and build a knowledge handbook based on attended events/workshops.\nEnhance Communication Skills: Create one-page architectural summaries and practice delivering concise, focused product demos.\nWork Discipline: Implement strict timeboxing and utilize personal checklists before conducting code or document reviews.\nIn-depth Debugging: Schedule periodic sessions for error analysis, utilizing tracing and load-testing to optimize system performance.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.6-frontend-cloudfront/","title":"Deploy Frontend &amp; CloudFront CDN","tags":[],"description":"","content":"Deploy React SPA Frontend \u0026amp; CloudFront CDN In this section, you will build the React Single Page Application (SPA) web frontend, upload static build artifacts to Amazon S3, and distribute the app globally over Amazon CloudFront CDN integrated with Custom Verification Headers (x-origin-verify).\n1. Edge Protection Architecture [User Browser] ➔ [Route 53] ➔ [Amazon CloudFront CDN (WAF + Shield)] ├──\u0026gt; [Amazon S3 Bucket (React Static Assets)] └──\u0026gt; [API Gateway (Header: x-origin-verify)] Amazon S3 (SpaBucket): Stores static index.html, js, css, and image assets for the React application. Direct public HTTP access to the bucket is blocked. Amazon CloudFront: Serves static content at low latency worldwide across edge locations. Custom Verification Header (x-origin-verify): CloudFront automatically injects a secret token header into all origin requests forwarded to API Gateway. API Gateway denies requests missing this secret header, protecting the API Gateway endpoint against direct bypass attacks. 2. Configure Environment Variables (.env.production) Change directory into frontend/ and populate the production environment configuration with your SAM deployment output values:\ncd ../frontend Create .env.production:\nVITE_API_BASE_URL=https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx VITE_AWS_REGION=us-east-1 3. Build React Application Install dependencies and compile the production bundle:\nnpm install npm run build The output build directory dist/ is generated:\ndist/ ├── assets/ │ ├── index-xxxx.js │ └── index-xxxx.css ├── favicon.ico └── index.html 4. Upload Assets to Amazon S3 Bucket Use the AWS CLI to create the bucket and synchronize static assets from dist/ to your S3 hosting bucket:\n# Create Frontend S3 Bucket aws s3 mb s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --region ap-southeast-1 # Synchronize build assets to S3 aws s3 sync dist/ s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --delete [!TIP] Troubleshooting Your account must be verified before you can add new CloudFront resources:\nThis security restriction applies to new AWS accounts.\nImmediate Workaround (S3 Website Endpoint): Enable S3 Static Website Hosting to preview your React application instantly:\naws s3 website s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;/ --index-document index.html Access via link: http://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;.s3-website.ap-southeast-1.amazonaws.com\nUnlock CloudFront: Open a ticket at AWS Support Center under Account Verification to enable CloudFront resource creation.\n5. Verify \u0026amp; Invalidate CloudFront CDN Cache Open the Amazon CloudFront Console.\nSelect your distribution associated with smart-attendance.\nInvalidate cached objects to immediately serve updated assets:\naws cloudfront create-invalidation --distribution-id \u0026lt;DISTRIBUTION_ID\u0026gt; --paths \u0026#34;/*\u0026#34; Access your CloudFront Domain URL (e.g., https://dxxxxxxxxx.cloudfront.net) or S3 Website Endpoint in a web browser to verify the live application!\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.6-week6/","title":"Week 6 Worklog","tags":[],"description":"","content":" Week 6 Objectives: Learn about Blockchain technologies and their integration with AWS. Explore smart contracts and create a workshop using AWS Blockchain services. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Learn about Blockchain - Learn about Web3/ Web2 to Web3 - Learn about dApps - Research about products based on Blockchain and built on/ using AWS Service 22/05/2026 22/05/2026 https://www.hackquest.io/quest 2 - Explore \u0026amp; research VPBank Hackathon\u0026rsquo;s challenges - Learn about Move (Web3 Language) - Learn about smart contract 23/05/2026 23/05/2026 Week 6 Achievements: Gained foundational understanding of Blockchain technology.\nLearned about Web3 and the transition from Web2 to Web3.\nExplored basics of decentralized applications (dApps).\nResearched products leveraging Blockchain on AWS services.\nLearned about Move as a Web3 programming language.\nUnderstood smart contract concepts and development.\nExplored and researched challenges from VPBank Hackathon.\nEnhanced skills in integrating Blockchain with cloud services for practical applications.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/7-feedback/","title":"Sharing and Feedback","tags":[],"description":"","content":"Overall Evaluation 1. Working Environment\nProfessional, supportive; strong team spirit and high-quality learning materials. 2. Support from Team Admin\nExcellent mentorship availability and guidance; mentors and peers actively support mentees. 3. Relevance of Work to Academic Major\nHighly relevant: hands-on tasks and workshops reinforced practical skills linked to academic learning. 4. Learning \u0026amp; Skill Development Opportunities\nVery strong — workshops and practical exercises accelerated applied learning. 5. Company Culture \u0026amp; Team Spirit\nVery positive; collaborative community and peer support are major strengths. 6. Internship Policies / Benefits\nAdequate overall; recommend adding regular competency assessments. Personal Sharing \u0026amp; Feedback This internship gave me a completely new perspective and a breakthrough growth mindset. I was fortunate to learn and work alongside highly skilled colleagues and mentors, which raised my sense of responsibility to a level I had not experienced before. Team spirit is very strong — mentees actively support one another and mentors are always ready to help.\nI value this community not only for the rich technical knowledge it provides, but also for how it fosters a growth mindset. Workshops, GameDays, and discussion sessions sparked countless new ideas, clarified my career direction, and expanded my professional network with senior practitioners who served as great sources of motivation.\nAdditional Questions What did you find most satisfying during your internship? What do you think the company should improve for future interns? Additional Questions (answers) Most satisfying: Working with top-tier mentors and peers, gaining a growth mindset, and the hands-on workshops (GameDays) that sparked practical ideas. Should improve: Add regular competency assessments. Suggestions \u0026amp; Expectations Suggestions: Run periodic evaluation rounds. Continue program?: Yes — I would like to remain involved. Other comments: The community culture is a major strength. "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/5-workshop/5.7-testing-cleanup/","title":"Testing &amp; Resource Cleanup","tags":[],"description":"","content":"End-to-End Testing \u0026amp; Resource Cleanup Congratulations on building and deploying the complete Smart Attendance SaaS Platform! In this final module, you will perform end-to-end operational testing across 5 realistic scenarios and properly teardown deployed cloud resources to prevent ongoing AWS billing.\n1. End-to-End Testing Scenarios Follow these 5 test scenarios on your live application:\nScenario 1: Tenant Registration \u0026amp; Authentication (Multi-Tenant Auth) Navigate to your CloudFront distribution URL. Select Register Tenant. Enter Company A credentials (tenantId: tenant-company-a), Admin Email, and Password. Complete email OTP verification. Sign in as Admin. Verify the dashboard loads scoped under tenant-company-a. Scenario 2: Employee Clock-In \u0026amp; Clock-Out Create an Employee user (user-employee-1) associated with tenant-company-a. Sign in as the employee on a mobile device or browser simulator. Click Clock-In -\u0026gt; The app sends a JWT-authenticated request to API Gateway -\u0026gt; The CheckInFunction Lambda commits the entry in sub-200ms. Click Clock-Out -\u0026gt; The system updates the clock-out timestamp in DynamoDB. Scenario 3: Query Attendance History (DynamoDB Single-Table Query) Open Attendance History. The frontend queries DynamoDB using TENANT#tenant-company-a partition key, returning real-time attendance logs in sub-50ms. Scenario 4: Export Monthly Attendance Reports (Step Functions \u0026amp; SES) From the Admin Dashboard, click Export Monthly Report. The UI displays an asynchronous confirmation status immediately (\u0026ldquo;Request Processing\u0026rdquo;). Inspect the AWS Step Functions Console to monitor the Express State Machine executing the report file generation. Check your inbox for the automated email delivered via Amazon SES containing the secure download link from Amazon S3. Scenario 5: B2B Subscription Payment Webhook As Admin, select the Pro Tier plan and proceed to Checkout. Simulate a payment gateway webhook callback to /billing/webhook. The WebhookFunction validates the signature via AWS Secrets Manager and updates tenant status to ACTIVE in DynamoDB. 2. AWS Resource Cleanup \u0026amp; Teardown To avoid unnecessary cloud costs after finishing the workshop, tear down all deployed resources following these steps:\nStep 1: Empty S3 Bucket Contents CloudFormation cannot delete non-empty S3 buckets. Empty bucket contents using the AWS CLI:\n# 1. Purge S3 Report Bucket objects aws s3 rm s3://saas-attendance-reports-\u0026lt;AWS_ACCOUNT_ID\u0026gt;-\u0026lt;REGION\u0026gt; --recursive # 2. Purge S3 SPA Hosting Bucket objects aws s3 rm s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --recursive Step 2: Delete CloudFormation Stack via SAM CLI Change directory into backend/ and execute the SAM delete command:\ncd backend sam delete Confirm stack deletion prompts:\nAre you sure you want to delete the stack smart-attendance-backend in region us-east-1? [y/N]: y Are you sure you want to delete the folder smart-attendance-backend in S3? [y/N]: y CloudFormation takes approximately 3–5 minutes to destroy all resources (Cognito, API Gateway, Lambda, DynamoDB, Step Functions, SQS, SES, KMS Keys).\nSummary \u0026amp; Conclusion Congratulations on completing the Smart Attendance SaaS Platform Workshop! You have mastered key AWS Serverless design patterns and gained practical experience engineering scalable multi-tenant SaaS platforms on AWS.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.7-week7/","title":"Week 7 Worklog","tags":[],"description":"","content":" Week 7 Objectives: Research digital charity ideas and AWS services for banking platforms. Learn AWS services for secure, resilient, high-performing, and cost-optimized architectures. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Get knownledge about AWS Services with topic Secure Architectures 29/05/2026 29/05/2026 2 - Learn about AWS Services with topic Cost-Optimized Architectures 30/05/2026 30/05/2026 Week 7 Achievements: Explored functions of AWS Kinesis, Secret Manager, SQS, SNS, Step Functions, Aurora Serverless, and ElastiCache for digital banking applications.\nLearned AWS services for secure architectures.\nLearned AWS services for cost-optimized architectures.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.8-week8/","title":"Week 8 Worklog","tags":[],"description":"","content":"Week 8 Objectives: Review AWS services Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Review AWS services 03/06/2026 03/06/2026 Week 8 Achievements: Reviewed AWS knowledge to work on the project "},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.9-week9/","title":"Week 9 Worklog","tags":[],"description":"","content":" Week 9 Objectives: Explore GitLab fundamentals, CI/CD pipelines, and integration with AWS Amplify. Investigate local development tools for AWS serverless services. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Explore about Gitlab 10/06/2026 10/06/2026 https://docs.gitlab.com/ 2 - Explore about Monolithic Repository 11/06/2026 11/06/2026 3 - Explore tools or services that supply the abilities to run AWS Services (Serverless) demo on local environment - Explore about AWS Sam, Serverless Framework and Local Stack 12/06/2026 12/06/2026 Week 9 Achievements: Gained understanding of GitLab basics, including core concepts and features.\nExplored GitLab CI/CD pipelines and their integration with AWS Amplify.\nExplored local development tools for AWS serverless\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.10-week10/","title":"Week 10 Worklog","tags":[],"description":"","content":" Week 10 Objectives: Integrate Serverless Framework Implement local AWS services Explore advanced AI Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Create backend functions 18/06/2026 18/06/2026 2 - Test backend functions by Interacting with frontend 19/06/2026 19/06/2026 3 - Implement researching about cost 20/06/2026 20/06/2026 Week 10 Achievements: Initialized and configured Serverless Framework module with serverless.yaml.\nDesigned flexible environment for switching between dev (local) and production (AWS) stages.\nExplored AWS NoSQL Workbench\nCreated backend functions for local API Gateway and Lambda.\nDeveloped frontend library with Axios for backend interaction.\nCreated hooks in frontend for calling backend APIs.\nTested backend functions through frontend interactions.\nExplored AWS Bedrock AgentCore features.\nExplored AWS pretrained AI/ML services and their features.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.11-week11/","title":"Week 11 Worklog","tags":[],"description":"","content":" Week 11 Objectives: Attend AWS events Explore integrating Route53, CloudFront, and WAF into Project 1\u0026rsquo;s architecture proposal. Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 1 - Learn about CDN roles in Software Development - Explore about DDos and AWS\u0026rsquo;s security service: ClouddFront, WAF, Shield 27/06/2026 27/06/2026 2 - Explore the abilities to apply Route53, CloudFront, WAF (Edge Layer) into Project1\u0026rsquo;s Architecture (Proposal) 28/06/2026 28/06/2026 Week 11 Achievements: Reviewed Amplify structure and components.\nLearned roles of CDN in software development.\nExplored DDoS protection and AWS services: CloudFront, WAF, and Shield.\nEnhanced understanding of DevOps practices, security integrations, and hands-on GenAI applications.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/1-worklog/1.12-week12/","title":"Week 12 Worklog","tags":[],"description":"","content":" Week 12 Objectives: Building backend functions,testing. Explore WebSocket technologies Tasks to be carried out this week: Day Task Start Date Completion Date Reference Material 2 - Build backend functions 03/07/2026 03/07/2026 3 - Explore about WebSocket - Explore about the ability to host a WebSocket server by EC2 - Explore about implement and serverless WebSocket on API Gateway and Lambda - Practice: + Implement and Serverless WebSocket on API Gateway Websocket and Lambda 04/07/2026 04/07/2026 Week 12 Achievements: Explored WebSocket fundamentals.\nInvestigated hosting WebSocket servers on EC2.\nExplored serverless WebSocket implementation on API Gateway and Lambda.\nPracticed implementing serverless WebSocket on API Gateway WebSocket and Lambda.\nImplemented API Bedrock integration and verified system prompts.\nEdited and refined slides and proposal documentation.\n"},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/categories/","title":"Categories","tags":[],"description":"","content":""},{"uri":"https://sikhanh2003.github.io/FCAJ-Workshop/tags/","title":"Tags","tags":[],"description":"","content":""}]